.container{
    display: inline-block;
}

.centered-row {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(./image/background.png);
    background-size: cover; /* 화면에 맞게 배경 이미지를 크기 조절 */
    background-position: center center; /* 배경 이미지가 화면 중앙에 오도록 설정 */
    background-repeat: no-repeat; /* 이미지가 반복되지 않도록 설정 */
    height: 100vh; /* 페이지의 높이를 100%로 설정 */
    margin: 0;
}